.card{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 48px;
}

.card-filme {
    display: flex;
    flex-direction: column;
}

.card-filme h4 {
    font-size: 2rem;
    padding-top: 16px;
}

.card-filme p {
    font-size: 1.5rem;
    padding: 8px 0px;
}

.card-filme img {
    height: 600px;
    border-radius: 32px;
}

.card-filme img:hover {
    color: white;
    box-shadow: 0 0 30px 10px #181D31;
}