@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.planos {
  display: flex;
  background-color: #E68369;
  height: auto;
  gap: 15%;
  justify-content: center;
  align-items: center;
  color:#181D31;
}

.planos-desconto {
  display: flex;
  background-color: #EEEDEB;
  flex-direction: column;
  border-radius: 32px;
  width: 20%;
  height: 75%;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 8px;
  margin: 32px;
}

.planos-desconto p {
  font-size: 1.2rem;
  text-align: center;
}

.planos-desconto h2 {
  font-size: 1.5rem;
  font-family: "Suez One", serif;
  text-align: center;
}

.planos-desconto h4 {
  font-size: 1.2rem;
  text-align: center;
}

.grifado {
  text-decoration: line-through;
  color: #be3b17;
  text-shadow: 2px 2px rgba(223, 24, 24, 0.212)
}

.desconto {
  color: #20754d;
  text-shadow: 2px 2px rgb(75, 214, 86);
}

.sessao-desconto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}