@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

footer {
    display: flex;
    color: #EEEDEB;
    flex-direction: column;
    padding: 16px 24px 0 24px;
    width: 100%;
    justify-content: center;
}

footer h2 {
    color: #E68369;
    font-family: "Suez One", serif;
    font-size: 1.5rem;
    text-shadow: -5px 3px #E762416B;
    padding-bottom: 8px;
}

footer h4 {
    color: #E68369;
    font-family: "Suez One", serif;
}

footer a {
    text-decoration: none;
    color: #EEEDEB;
}

footer li {
    list-style: none;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    width: 30%;
}

.footer-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-items: center;
}

.footer-redes a {
    background-color: #EEEDEB;
    border-radius: 16px;
}

.footer-redes div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;
}

.direitos {
    display: flex;    
    justify-content: center;
}

footer a:hover {
    color: #E68369;
    text-shadow: -2px 2px #e762416b;
}
