@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEDEB;
    font-family: "Montserrat", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.notFound {
    background-color: white;
    height: 100vh;
}

.form-section {
    width: 320px;
    margin: 16px auto;
}

.invalid {
    color: red;
}