.conversor {
    padding: 8px;
    margin: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    border: 2px solid;
    border-radius: 16px;
    text-align: center;
}

.conversor button {
    padding: 16px;
    position: relative;
    border-radius: 8px;
    font-size: 16px;
}

input {
    width: 80%;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
}

.botoes {
    display: flex;
    gap: 64px;    
}

.btn-convert {
    background-color: #A78295;
    color: #EFE1D1;
    border: 2px solid #EFE1D1;
}

.btn-zerar {
    color: #3F2E3E;
    background-color: #EFE1D1;
    border: 2px solid #A78295;
}

.conversor button:hover {
    color: #A78295;
    background-color: #3F2E3E;
    border: 2px solid #A78295;
}